---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import MarkdownIt from 'markdown-it';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

import { getBasePath } from '../components/utils/basepath.js';
const basePath = getBasePath();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: auto;
			}
			section ul {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				margin: 0;
				padding: 0;
				
			}
			/* ul li {
				width: calc(50% - 1rem);
			} */
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			/* ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			} */
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
				width: 20rem;
				height: 11rem;
			}
			ul li a {
				
				display: flex;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class=" flex flex-row">
				<div class=" w-3/6 px-5 ">
					<h1>🧑‍🚀 Welcome to Our Journey!</h1>
				
					<p>
						Welcome to the SOFTWARE DEV PRACTICE | 010123131 | KMUTNB</p>
					<div class="flex justify-between p-3">						
						<div class=" block py-5">
							<p>Nathakorn 6601012620038</p>
							<p>Nopasin 6601012620119</p>
							<p>Pumasin 6601012610105</p>
						</div>
						<div>
							<img class="w-[20rem]" src="/gg.png"></img>
						</div>
						<div>
							
						</div>
					</div>

						
					<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://embed.figma.com/slides/FELSB5hjoHLuqlGu7wYZS1/Untitled?node-id=1-26&embed-host=share" allowfullscreen></iframe>
				</div>
				<!-- ----------------------------------------------------- -->
				<div class=" w-3/6">
					<h1 class="">Lastest Update</h1>
					
					<section>
						<ul class="w-auto overflow-y-auto 	">
							{
								posts.slice(0,3).map((post) => {
									const parser = new MarkdownIt();
									const createExcerpt = (body) => {
									return parser
										.render(body)
										.split('\n')
										.slice(0, 6)
										.map((str) => {
										return str.replace(/<\/?[^>]+(>|$)/g, '').split('\n');
										})
										.flat()
										.join(' ');
									};						
									const excerpt = `${createExcerpt(post.body).substring(0, 140)}...`;
									//console.log(excerpt);													
									return(<li >
										<a class="p-1" href={`${basePath}/blog/${post.slug}/`}>
											<img width={720} height={360} class=" object-cover outline outline-1 outline-gray-300" src={basePath+post.data.heroImage} alt="" />
											<div class=" block px-5">
												<h4 class="title  py-2">{post.data.title}</h4>
												<div class="flex flex-wrap gap-1">	
													<h5 class=" text-xs font-mono font-bold">KEYWORDS: </h5>
													{post.data.keywords?.map(k => (
														<h6 class=" text-xs font-mono font-bold">{k},</h6>	
													))
													}
												</div>
												{/* <p class="date">
													<FormattedDate date={post.data.pubDate} />
												</p> */}
												<p class=" text-black">{excerpt}</p>
											</div>

										</a>
									</li>)
								})
							}
						</ul>
					</section>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
